/* 기본 리셋 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', 'Just Another Hand';
  line-height: 1;
  color: #222;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
}

/* Header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #32373C;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 82.222%;
  margin: 0 auto;
}

.header h1 img {
  height: 60px;
  width: 99px;
}

header .menu-container ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.menu-container a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.menu-toggle span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  text-indent: -9999px;
  margin-bottom: 6px;
  border-radius: 5px;
}

header .menu-toggle {
  align-items: center;
  gap: 8px;
  color: #fff;
}

header .menu-container {
  display: none;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1000;
  background-color: rgba(0,0,0,0.45);
  height: 100%;
  width: 100%;
}
header .menu-container nav{
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  background: #32373C;
  text-align: center;
  padding: 16px 20px;
}

header .menu-container.active {
  display: block;
}

main {
  margin-top: 100px;
}

/* Hero */
#hero {
  position: relative;
  background-color: #F6F6F6;
}

#hero .inner {
  position: relative;
  width: 82.222%;
  margin: 0 auto;
  padding-top: 93px;
  height: 744px;
}

.hero-text {
  position: relative;
  z-index: 2;
}

.hero-text span {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 14px;
  margin-bottom: 6px;
}

.hero-text h2 {
  color: #1B1B1B;
  font-family: "Just Another Hand";
  font-size: 50px;
  font-weight: 400;
  width: 295px;
  margin-top: 10px;
}

.hero-text p {
  margin: 0 0 0px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;

}

.hero-image {
  width: 300px;
  height: 303px;
  position: absolute;
  right: 0;
  bottom: 28.2%;
   left: 50%;
  transform: translateX(-50%);
  background: url("../images/icecream.png") no-repeat center/contain;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

#hero .btn {
  margin-top: 20px;
  display: inline-block;
}

/* Swiper */
.swiper-slide {
  width: auto;
  height: 278px;
  flex-shrink: 0;
}

.menu-container ul {
  display: flex;
  gap: 20px;
}

.menu-container {
  position: static;
  background: transparent;
}

/* Commitment */
#commitment {
  width: 82.222%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 120px;
  background: white;
}

#commitment .commit-first {
  text-align: center;
  margin-bottom: 18px;
}

#commitment .commit-first p {
  color: #555;
text-align: center;
font-size: 14px;
font-style: normal;
}

#commitment .commit-first h2 {
  color: #000;
  text-align: center;
  font-family: "Just Another Hand";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin-top: 4px;
}

/* 슬라이드 카드 */
#commitment .commit-wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 0 90px;
  overflow: hidden;
  position: relative;
}

#commitment .swiper {
  overflow: hidden;
}


#commitment .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 14px; /* 아이콘, 제목, 설명 간 간격 */
  padding: 40px 0; 
}



/* 아이콘 */
#commitment .icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}

#commitment .icon.sustainability {
  background-image: url("../images/icons/sustainability.svg");
}

#commitment .icon.zero-waste {
  background-image: url("../images/icons/zero-waste.svg");
}

#commitment .icon.diversity {
  background-image: url("../images/icons/diversity.svg");
}

#commitment .icon.community {
  background-image: url("images/icons/community.svg");
}

/* 제목/설명 */
#commitment h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em; /* 살짝 여유 있는 자간 */
  margin-top: 4px;
  margin-bottom: 11px; /* 제목과 본문 간격 */
  
}

#commitment .swiper-slide p {
  color: #000000; /* 피그마 느낌의 중간 톤 회색 */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 부드러운 줄간격 */
  letter-spacing: 0.01em;
  text-align: center;
  word-break: keep-all;
  max-width: 200px;
  margin: 0 auto;
  opacity: 0.9; /* 글자 대비를 살짝 줄여서 자연스럽게 */
}


/* 아이콘 크기 */
#commitment .swiper-button-prev::after,
#commitment .swiper-button-next::after {
  font-size: 40px;
  line-height: 1;
}


/* 페이지네이션 점 */
#commitment .swiper-pagination {
  bottom: 12px;
  position: relative;
  margin-top: 5px;
}

#commitment .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #000;
  opacity: .35;
  margin: 0 px;
}

#commitment .swiper-pagination-bullet-active {
  background: #6B4F4F;
  opacity: 1;
}







/* 화살표 */
#commitment .swiper-button-prev,
#commitment .swiper-button-next {
 width: 10px;
height: 50px;
  top: calc(50% - 10px);
  color: #6B4F4F;
}

#commitment .swiper-button-prev {
  left: 15px;
}

#commitment .swiper-button-next {
  right: 15px;
}

#commitment .swiper-button-prev::after,
#commitment .swiper-button-next::after {
   width: 30px;
height: 50px;
flex-shrink: 0;
  aspect-ratio: 20/33;
  margin: 8.88%;
  font-size: 40px;
  line-height: 1;
  }
  
/* 페이지네이션 점 */
#commitment .swiper-pagination {
  position: relative;
}

#commitment .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #000;
  opacity: .35;
  margin: 0 px;
}

#commitment .swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}

/* Picks Section */
#picks {
  width: 100%;
  background: #F2F2F2;
  position: relative;
  padding: 56px 24px 72px;
  overflow: hidden;
}

#picks .our-pick {
  width: 82.222%;
  margin: 0 auto;
  margin-top: 60px;
}

/* 상단 타이틀 영역 */
#picks .picks {
  text-align: center;
  margin-bottom: 18px;
}

#picks a {
  background: #ffffff;
  display: block;
  width: 70%;
  height: 278px;
  padding: 30px;
}

#picks .picks p {
  color: #000;
  font-size: 14px;
  letter-spacing: .04em;
  margin-bottom: 1px;
  font-weight: 400;
  line-height: 20px;
}

#picks .picks h2 {
  color: #000;
  text-align: center;
  font-family: "Just Another Hand";
  font-size: 50px;
  font-weight: 400;
}

#picks .swiper {
  overflow: hidden;
}

#picks .picks-swiper {
  position: relative;
  overflow: visible; /* ✅ 점과 화살표가 잘리지 않게 */
}


#picks .swiper-wrapper {
  display: flex;
}

#picks .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center; /* ✅ 가로 중앙정렬 */
  justify-content: flex-start;
  text-align: center;
  gap: 14px;
  padding: 20px 0;
  position: relative;
}

#picks .thumb {
  display: flex;
  justify-content: center; /* ✅ 수평 중앙 */
  align-items: center;     /* ✅ 수직 중앙 */
  width: 114px;
  height: 127px;
  margin: 0 auto;          /* ✅ 여분 정렬 */
}

#picks .thumb img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* 제목/본문 */
#picks h3 {
  color: #000;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
}

#picks .swiper-slide p {
 color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 10px;
}

/* 화살표 */
#picks .swiper-button-prev,
#picks .swiper-button-next {
 width: 10px;
height: 50px;
  top: calc(50% - 10px);
  color: #6B4F4F;
}

#picks .swiper-button-prev::after,
#picks .swiper-button-next::after {
   width: 30px;
height: 50px;
flex-shrink: 0;
  aspect-ratio: 20/33;
  margin: 8.88%;
  font-size: 40px;
  line-height: 1;
  }
  
/* 페이지네이션 점 */
#picks .swiper-pagination {
  bottom: 22px;
  position: relative;
  margin-top: 30px;

}

#picks .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #000;
  opacity: .35;
  margin: 0 px;
  
}

#picks .swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
  
}


/* Other Sections */

#about {
   position: relative;
  width: 100%;
  height: 584px;
  background: url("../images/about.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

/* 어둡게 오버레이 */
#about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 0;
}

/* 텍스트 내용 */
#about .about-inner {
  position: relative;
  z-index: 1;
  width: 82.222%;
  margin: 0 auto;
}

#about p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 142.857% */
}

#about strong {
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.4; /* 137.5% */
 display: block;
margin-bottom: 20px;
}

#about h2 {
  color: #FFF;
  font-family: "Just Another Hand";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}


#info-sections {
  margin: 8.888%;
  padding-bottom: 5px;
}
    

  #our-promise,
  #community,
  #events {
     position: relative;
    height: auto;
    overflow: visible;
    margin: 120px 0 72px; /* 섹션 간 간격 */
  }

    #our-promise .promise-text,
  #community   .promise-community,
  #events      .promise-event {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
  }

  .bg_our-promise {
    background-image: url("../images/commitment.png");
    width: 296px;
    height: 232.374px;
    flex-shrink: 0;
  }

  .bg_community {
    background-image: url("../images/community.png");
    width: 296px;
    height: 232.374px;
    flex-shrink: 0;
  }

  .bg_events {
    background-image: url("../images/events.png");
    width: 296px;
    height: 232.374px;
    flex-shrink: 0;
  }

  .bg_our-promise,
  .bg_community,
  .bg_events {
   position: relative;
    display: block;
    width: 100%;
    height: 240px; /* 필요시 조정 */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 20px; /* 이미지와 텍스트 사이 간격 */
    z-index: 0;
  }

  .promise-text span,
  .promise-community span,
  .promise-event span {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

    .promise-text h3 {
    color: #000;
    text-align: center;
    font-family: "Just Another Hand";
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
  }

  .promise-text strong {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .promise-text p,
  .promise-community p,
  .promise-event p {
    color: #000;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    line-height: 20px;
    word-break: keep-all;
    letter-spacing: 0.01em;
  }

.promise-community p
  {
  margin-top: 20px;
}

.promise-event p {
  margin-top: 10px;
}


   .promise-community h3,
   .promise-event h3{
    color: #000;
    text-align: center;
    font-family: "Just Another Hand";
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
  }

  #our-promise .promise-text strong { 
    display:block; 
    margin-bottom: 20px; 
  }

  
#instagram {
  width: 100%;
  padding:40px 20px 32px;
  text-align:center;
  background: #F2F2F2;
  position: relative;
  overflow: hidden;
  padding: 120px 0;
}

#instagram span {
  font-size: 14px;
}

#instagram h2{
  color: #000;
  text-align: center;
  font-family: "Just Another Hand";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

#instagram .instagram-swiper {
  margin: 0 auto 40px; /* 아래 여백 살짝 추가 */
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#instagram .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

#instagram .thumb {
  width: 208px;
  height: 208px;
  border-radius: 0;
  overflow: hidden;
}

#instagram .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ✅ 화살표를 이미지 밑쪽 중앙에 배치 */
#instagram .swiper-button-prev,
#instagram .swiper-button-next {
width: 10px;
height: 50px;
  top: calc(50% - 10px);
  color: #6B4F4F;
}


/* 아이콘 크기 */
#instagram .swiper-button-prev::after,
#instagram .swiper-button-next::after {
  font-size: 38px;
  line-height: 1;
}

/* 하단 버튼 */
#instagram .btn {
 background: #353439;
  color: #fff;
  display: inline-block;
  margin-top: 0;
  width: 132px;
  height: 49px;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 49px;
}


#contact {
  padding: 120px 20px;
  color: #3b2b2b;
}

.contact-us p {
  margin-bottom: 12px; /* 위 문장과 h2 사이 */
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.contact-us h2 {
color: #000;
text-align: center;
font-family: "Just Another Hand";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 100% */
}

.contact-us form {
  width: 60%;
  position: relative;
  margin: 30px auto 0;
}

.contact-us label {
  display: none;
}

.contact-us input {
  width: calc(100% - 78px);
height: 42px;
  background: #F2F2F2;
  color: #353439;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

button:not(.menu-toggle),
.btn {
  background: #353439;
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  width: 132px;
  height: 49px;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 49px;
}

.contact-us button {
  justify-content: center;
  background: #353439;      /* 피그마 버튼 컬러 */
  color: #fff;
  font-size: 14px;
  height: 42px;             /* 모든 버튼 높이 동일 */
  transition: background 0.2s ease;
  line-height: 1;
  position: absolute;
  margin-top: 0px;
  width: 78px;
  word-break: keep-all;
  
}


/* hover 효과 */
button:hover,
.btn:hover,
.contact-us button:hover {
  background: #353439;
}

footer {
  background: #32373C; /* 피그마 배경 와인색 */
  text-align: center;
  padding: 100px 20px;
  color: #FFFEFE;
  font-size: 14px;
  font-weight: 400;
  height: 488px;
}

footer .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* 로고 */
footer .logo {
  display: inline-block;
  width: 108px;
  height: 115px;
  background: url("../images/footer_logo.png") no-repeat center / contain;
  margin-bottom: 10px;
}

/* 본문 텍스트 */
footer p {
  color: #FFFEFE;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

/* 소제목 (본사 주소 / 영업시간) */
footer p span {
  display: block;
  color: #D9D9D9;
  font-size: 13px;

}

/* 아이콘 */
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

footer .social a {
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  margin-top: 20px;
}

footer .social a[href*="instagram"] {
  background-image: url("../images/instagram.png");
}
footer .social a[href*="facebook"] {
  background-image: url("../images/facebook.png");
}
footer .social a[href*="tiktok"] {
  background-image: url("../images/tiktok.png");
}

